@import url("./fonts.css");

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  text-transform: capitalize !important;
  font-family: ubuntu, amiri !important;
}

body {
  background-image: url("/public/img/bg-big.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section {
  padding: 50px 0px;
  color: #fff;
}

.mainApp {
  .quranCard {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 20px 10px;

    .ayahText {
      padding: 10px;

      h4 {
        .verseNum {
          padding: 10px 0px;
        }
      }
    }

    .actionsArea {
      padding: 10px 0px;
      button {
        border: none;
        margin: 0px 10px;
        background-color: transparent;

        svg {
          color: #fff;
          font-size: 20px;
        }
      }
    }
  }

  .currentTime {
    padding: 10px 5px;

    h2 {
      padding: 10px 5px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      width: fit-content;
      margin: auto;
    }

    svg {
      font-size: 25px;
      margin-bottom: 5px;
    }
  }

  .dates {
    padding: 10px 0px;
    .dateItem {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: fit-content;

      svg {
        margin-inline-end: 5px;
      }
    }
  }

  .prayer-times {
    padding: 20px 0px;

    .prayer-container {
      .prayerItem {
        padding: 10px 5px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 8px;

        img {
          margin-inline-end: 5px;
        }
      }
    }
  }
}

.shareNotification {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 8px;
  color: #fff;
  padding: 10px 5px;

  svg {
    color: #13e700;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (max-width: 992px) {
  :root {
    font-size: 14px;
  }

  body {
    background-image: url("/public/img/bg-small.jpg");
  }
}
